.btn-login{
    background-color: #ff8c00;
    border: 1px solid gray;
    font-weight: 700;
}
.btn-logout{
    background-color: #ff8c00;
    border: 1px solid gray;
    font-weight: 700; 
}
.navbar{
    text-decoration: none;
}
.navbar:hover{
    background-color: #ff8c00;
}